
html,
body {
	margin: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px; 
	font-weight: 700;
	background-color: rgb(255, 255, 255);
}

a {
	text-decoration: none;
}

.menu-wrapper {
	width: 100%;
	background-color: rgb(41, 52, 73);
}

.container {
	width: 940px;
	margin: 0px auto;
}


.main-header {
	color: rgb(255, 255, 255);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	background-color: rgb(244, 247, 249);
	min-height: 320px;
}

.main-header h1 {
	color: #ee3643;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	width: 196px;
	margin-left: 52px;
}

.header-user-menu {
	color: rgb(255, 255, 255);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	background-color: rgb(41, 52, 73);
	margin-bottom: 50px;
	display: flex;
}

.header-user-menu a {
	color: rgb(255, 255, 255);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	transition: 0.3s;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 0;
}

.user-menu-item.header-logo {
	height: 30px;
	width: 220px;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
	transition: 0.4s;
	background-image: url(img/logo.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
}

.user-menu-item.header-logo:hover {
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  	background-color: #ca2c37;
}

.user-menu-item.header-logo:active {
	 box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	 background-color: #ba2732;
}

.header-user-menu form {
	margin-left: 220px;
	position: relative;
	width: 200px;
	flex-grow: 1;
}

.header-user-menu input {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: rgb(41, 52, 73);
	border: none;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	padding-left: 50px;
	background-image: url(img/icon-search-passive.png);
	background-repeat: no-repeat;
	background-position: 17px 11px;
	transition: 0.4s;
}

.header-user-menu input::before,
.header-user-menu input::after {
	content: "",
	visibility: hidden;
}

.header-user-menu input::before {
	background-image: url(img/icon-search-hover.png);
}

.header-user-menu input::after {
	background-image: url(img/icon-search-active.png);
}

.header-user-menu input:hover {
	background-color: #212a3a;
	background-image: url(img/icon-search-hover.png);
}

.header-user-menu input:focus {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	background-image: url(img/icon-search-active.png);
}

.search-link::before {
	content: "";
	position: absolute;
	left: -17px;
	top: 12px;
	width: 17px;
	height: 17px;
	background-color: orange;
	background-image: url(img/search.svg);
	background-repeat: no-repeat;
}

.header-user-menu a:nth-child(3) {
	margin-left: auto;
	padding-left: 54px;
	padding-right: 28px;
	position: relative;
	transition: 0.4s;
}

.header-user-menu a:nth-child(4) {
	padding-left: 50px;
	padding-right: 31px;
	position: relative;
	transition: 0.4s;
}

.header-user-menu a:last-child {
	background-color: #63a63e;
	padding-left: 20px;
	padding-right: 22px;
	transition: 0.4s;
}

.marks-link::before {
	content: "";
	position: absolute;
	left: 27px;
	top: 12px;
	width: 14px;
	height: 16px;
	background-image: url(img/icon-mark.png);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.basket-link::before {
	content: "";
	position: absolute;
	left: 18px;
	top: 12px;
	width: 15px;
	height: 15px;
	background-image: url(img/icon-basket.png);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.header-user-menu a:nth-child(3):hover,
.header-user-menu a:nth-child(4):hover {
	background-color: #212a3a;
}

.header-user-menu a:nth-child(3):hover::before,
.header-user-menu a:nth-child(4):hover::before {
	opacity: 1;
}

.header-user-menu a:nth-child(3):active,
.header-user-menu a:nth-child(4):active {
	background-color: #161d29;
	opacity: 0.6;
}

.header-user-menu a:nth-child(3):active::before,
.header-user-menu a:nth-child(4):active::before {
	background-color: #161d29;
	opacity: 0.5;
}

.header-user-menu a:last-child:hover {
	background-color: #5fbb2d;
} 

.header-user-menu a:last-child:active {
	background-color: #518534;
	opacity: 0.5;
}


.header-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

.header-contacts {
	width: 270px;
	text-align: center;
}

.header-contacts a {
	display: block;
	padding: 10px;
	color: #ee3643;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	border: 3px solid rgb(255, 255, 255);
	margin: 0px;
}

.header-contacts p {
	color: #32425c;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0px;
}


.local-user-navigation {
	margin: 0px;
	padding: 0px;
	width: 281px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}


.user-navigation-button {
	display: block;
	color: rgb(0, 0, 0);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	margin: 0;
	padding: 0;
	transition: 0.3s;
	background-color: rgb(255, 255, 255);
	position: relative;
	transition: 0.4s;
}

.button-login {
	width: 121px;
	height: 45px;
	padding-left: 48px;
	padding-top: 12px;
	box-sizing: border-box;
}

.button-register {
	width: 150px;
	height: 45px;
	padding: 12px 25px;
	box-sizing: border-box;
}

.button-login::before {
	content: "";
	position: absolute;
	left: 14px;
	top: 14px;
	background-image: url(img/icon-login.svg);
	width: 20px;
	height: 17px;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.user-navigation-button:hover {
	color: #ee3643;
}

.button-login:hover::before {
	opacity: 1;
}

.user-navigation-button:active {
	opacity: 0.3;
	color: rgba(0, 0, 0, 0.3);
}

.inner-page.local-user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.inner-page.local-user-navigation a {
	color: #32425c;
	font-family: Cuprum;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
	background-color: transparent;
	transition: 0.3s;
}

.inner-page.local-user-navigation a:first-child {
	width: 299px;
	height: 45px;
	background-color: rgb(255, 255, 255);
	display: block;
	padding-left: 47px;
	padding-top: 13px;
	box-sizing: border-box;
	margin-bottom: 10px;
	text-decoration: none;
	color: #000000;
	font-family: Cuprum;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	position: relative;
}

.inner-page.local-user-navigation a:first-child::before {
	content: "";
	width: 20px;
	height: 18px;
	position: absolute;
	left: 13px;
	background-image: url(img/icon-user.svg);
	opacity: 0.3;
	transition: 0.4s;
}

.inner-page.local-user-navigation a:first-child::after {
	content: "";
	width: 20px;
	height: 18px;
	position: absolute;
	right: 10px;
	background-image: url(img/icon-logout.svg);
	opacity: 0.3;
	transition: 0.4s;
}

.inner-page.local-user-navigation a:first-child:hover::before,
.inner-page.local-user-navigation a:first-child:hover::after {
	opacity: 1;
}

.inner-page.local-user-navigation a:nth-child(2) {
	padding-left: 15px;
	padding-right: 35px;
	position: relative;
}

.inner-page.local-user-navigation a:nth-child(2)::after {
	content: "";
	width: 4px;
	height: 5px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	position: absolute;
	left: 105px;
	top: 7px;
}

.inner-page.local-user-navigation a:nth-child(2):hover,
.inner-page.local-user-navigation a:nth-child(3):hover {
	color: #ee3643;
}

.inner-page.local-user-navigation a:nth-child(2):active,
.inner-page.local-user-navigation a:nth-child(3):active,
.inner-page.local-user-navigation a:first-child:active {
	opacity: 0.3;
}


.main-header-navigation {
	background-color: rgb(50, 66, 92);
}

.main-header-navigation ul {
	list-style: none;
	transition: 0.3s;
	margin: 0;
	padding: 0;
	display: flex;
}

.main-header-navigation a {
	color: rgb(255, 255, 255);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	display: block;
	padding-top: 21px;
	padding-bottom: 22px;
	padding-left: 33px;
	padding-right: 34px;
}

.main-header-navigation li:hover {
	background-color: rgb(41, 52, 73);
}


.main-header-navigation li:active {
	background-color: rgb(29, 39, 57);
	opacity: 0.5;
}


/* PROMO */

.promo ul {
	list-style: none;
	padding: 0;
	margin-top: 59px;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.promo-list-item {
	width: 300px;
	height: 123px;
	margin-bottom: 20px;
	position: relative;
}

.promo-list-item:first-child {
	background-image: url(img/materials.png);
	background-repeat: no-repeat;
}

.promo-list-item:nth-child(2) {
	background-image: url(img/instruments.png);
	background-repeat: no-repeat;
}

.promo-list-item:nth-child(3) {
	background-image: url(img/technics.png);
	background-repeat: no-repeat;
}

.promo-list-item:nth-child(5) {
	background-image: url(img/discounts.png);
	background-repeat: no-repeat;
}

.promo-list-item a {
	margin: 0;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	width: 135px;
	height: 38px;
	background-color: #000000;
	opacity: 0.1;
	position: absolute;
	top: 63px;
	left: 23px;
	box-sizing: border-box;
	padding: 10px 22px;
	transition: 0.4s;
}

.free-delivery a {
	padding-left: 35px;	
}

.promo-list-item.free-delivery {
	position: relative;
	top: 143px;
	background-color: #ffc047;
	background-image: url(img/delivery.png); 
	background-repeat: no-repeat;
}

.promo-list-item a:hover {
	opacity: 0.2;
}

.promo-list-item a:active {
	opacity: 0.3;
}


/*Стили для промо-слайдера*/


.slider {
	position: relative;
	width: 620px;
}

.slider ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}

.slider-inner {
	overflow: hidden;
}

.slider-list {
	width: 200%;
	transition: transform 0.8s ease;
}

.slider-list li {
	float: left;
	width: 620px;
	height: 266px;
}

.slider input {
	position: absolute;
}

.slider-item:first-child {
	background-image: url(img/slider-drills.jpg);
	background-repeat: no-repeat;
}

.slider-item:last-child {
	background-image: url(img/slider-perforators.jpg);
	background-repeat: no-repeat;
}

.slider-item b {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	position: absolute;
	margin-top: 17px;
	margin-left: 25px;

}

.slider-item span {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	position: absolute;
	margin-top: 59px;
	margin-left: 25px;
}

.slider-item a {
	display: block;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ee3643;
	width: 195px;
	height: 38px;
	box-sizing: border-box;
	padding-left: 49px;
	padding-top: 10px;
	transition: 0.4s;
	margin-top: 206px;
	margin-left: 25px;
}

.slider-item-button:hover {
	background-color: #ca2c37;
}

.slider-item-button:active {
	background-color: #ba2732;
}


.slider-controls label:first-child {
	position: absolute;
	top: 114px;
	left: 25px;
	width: 22px;
	height: 40px;
	background-image: url(img/slider-previous.svg);
	background-repeat: no-repeat;
	cursor: pointer;	
	z-index: 10;
}

.slider-controls label:last-child {
	position: absolute;
	top: 114px;
	right: 20px;
	width: 22px;
	height: 40px;
	background-image: url(img/slider-next.svg);
	background-repeat: no-repeat;
	cursor: pointer;	
	z-index: 10;
}

#slider-previous:checked ~ .slider-inner .slider-list {
	transform: translate(0px);
}

#slider-next:checked ~ .slider-inner .slider-list {
	transform: translate(-620px);
}


/**/

.catalog-list {
	width: 940px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.popular-title a {
	display: block;
	width: 253px;
	height: 38px;
	background-color: #ee3643;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 10px 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	transition: 0.4s;
}

.button-all-products:hover {
	background-color: #ca2c37;
}

.button-all-products:active {
	background-color: #ba2732;
}



/*Популярные производители*/


.popular-companies {
	margin-bottom: 65px;	
}

.popular-title {
	background-color: #f9f5f0;
	width: 940px;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.popular-title h2 {
	color: #32425c;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 31px;
	margin-left: 30px;
}


.button-all-companies:hover {
	background-color: #ca2c37;
}

.button-all-companies:active {
	background-color: #ba2732;
}

.popular-companies ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pop-companies-list li {
	margin-bottom: 15px;
	padding: 0;
	transition: 0.4s;
}

.pop-companies-list li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.pop-companies-list li:active {
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}


/*Сервисы*/

.services {
	width: 100%;	
	margin-bottom: 80px;
	background-color: rgb(244, 247, 249);
}

.services .services-title {
	color: rgb(0, 0, 0);
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 63px;
}

.services p {
	width: 398px;
	font-family: "PT Sans";
	font-weight: 400;
	line-height: 24px;
	font-size: 13px;
	font-weight: 400;
	padding-top: 10px;
}


.services-slider {
	margin-top: 65px;
	position: relative;
	display: flex;
}

.services-controls {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.services-controls::after {
	content: "";
	background-image: url(img/menu-attribute.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 10px;
	height: 279px;
	left: 230px;
	top: -48px;
}

.services-slider input {
	position: absolute;
	display: none;
}

.services-controls label {
	width: 240px;
	box-sizing: border-box;
	margin: 0;
	background-color: #32425c;
	box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
	padding-top: 15px;
	padding-bottom: 16px;
	padding-left: 22px;
	cursor: pointer;
}

#radio-delivery:checked ~ .services-controls label[for="radio-delivery"],
#radio-guarantee:checked ~ .services-controls label[for="radio-guarantee"],
#radio-credit:checked ~ .services-controls label[for="radio-credit"] {
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
	background-color: #ffffff;
	color: #32425c;
	font-family: Cuprum;
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
}

.services-inner {	
	height: 280px;
}

.services-inner ul {
	list-style: none;
	margin: 0;
	padding: 0;	
	margin-left: 80px;
}

.services-inner-slider li {
	width: 619px;
	height: 280px;
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: rgb(243, 247, 248);
}

.services-inner-slider li:first-child {
	background-image: url(img/delivery-service.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;	
}

.services-inner-slider li:nth-child(2) {
	background-image: url(img/guarantee-service.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;	
	display: none;
}

.services-inner-slider li:nth-child(3) {
	background-image: url(img/credit-service.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;	
	display: none;
}

.services-slide h3 {
	color: #32425c;
	font-family: Cuprum;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0px;
}

.services-slide a {
	width: 195px;
	height: 38px;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ff5357;
	box-sizing: border-box;
	padding: 10px 44px;
	transition: 0.4s;
	display: block;
	margin-top: 30px;
}

.services-slide a:hover {
	background-color: #ca2c37;
}

.services-slide a:active {
	background-color: #ba2732;
}

#radio-guarantee:checked ~ .services-inner .services-slide:nth-child(2) {
	display: block;
}

#radio-credit:checked ~ .services-inner .services-slide:nth-child(3) {
	display: block;
}


/*Способы доставки (ТК и самовывоз)*/


.delivery-types {
	margin-bottom: 86px;
	display: flex;
	justify-content: space-between;
	margin-top: 86px;
}

.delivery-offer {
	width: 519px;
}

.delivery-offer b {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;

}

.delivery-offer p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 27px;
	margin-top: 27px;
}

.delivery-offer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
}

.delivery-offer li {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	position: relative;
	padding-left: 40px;
}

.delivery-offer li::before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	position: absolute;
	top: 15px;
	left: 0px;
}

.delivery-offer a {
	display: block;
	width: 220px;
	height: 38px;
	padding-left: 41px;
	padding-top: 10px;
	box-sizing: border-box;
	background-color: rgb(238, 54, 67);
	color: rgb(255, 255, 255);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	transition: 0.4s;
}

.direction {
	width: 300px;
}

.direction b {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.direction p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 27px;
}

.direction img {
	margin-top: 35px;
	margin-bottom: 40px;
}

.direction .button-delivery-types {
	display: block;
	width: 300px;
	height: 38px;
	padding-left: 63px;
	padding-top: 10px;
	box-sizing: border-box;
	background-color: rgb(238, 54, 67);
	color: rgb(255, 255, 255);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	transition: 0.4s;
}

.button-delivery-types:hover {
	background-color: #ca2c37;
}

.button-delivery-types:active {
	background-color: #ba2732;
}


/*Страница каталога*/


.breadcrumbs {
	padding: 0;
	display: flex;
	list-style: none;
}

.breadcrumbs a {
	padding-right: 40px;
	margin: 0;
	color: rgb(0, 0, 0);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	transition: 0.4s;
	position: relative;
}

.breadcrumbs a:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 17px;
	background-image: url(img/icon-right-small.png);
	background-repeat: no-repeat;
	background-position: 17px 4px;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumb {
	margin-right: 20px;
}

.breadcrumb.current {
	margin: auto 0;
	color: rgba(0, 0, 0, 0.4);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.container h2 {
	background-color: rgb(242, 246, 248);
	color: #32425c;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.container .catalog-title {
	padding-top: 32px;
	padding-left: 30px;
	padding-bottom: 34px;
}


.catalog-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.catalog-filters {
	width: 220px;
	padding: 0px;
}

.filters-form h3 {
	margin: 0;
	color: rgb(0, 0, 0);
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	padding-left: 18px;
	padding-top: 10px;
	padding-bottom: 11px;
	background-color: #f7f3ec;
	margin-bottom: 15px;
}

.filters-form fieldset {
	padding: 0px;
	margin: 0px;
	border: none;
}

.filters-form legend {
	color: rgb(0, 0, 0);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.range-controls {
	margin-top: 15px;
	background-color: #f7f3ec;
	position: relative;
	height: 80px;
}

.range-controls .scale {
	width: 180px;
	height: 2px;
	background-color: #d7dcde;
	position: absolute;
	top: 50%;
	left: 20px;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: rgb(0, 202, 116);
}

.range-toggle {
	position: absolute;
	top: 39%;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 164px;
}

.price-controls {
	margin-top: 10px;
	height: 38px;
	display: flex;
	justify-content: space-between;
}

.price-controls label {
  display: inline-block;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 95px;
  background-color: #f7f3ec;
}

.price-controls .min-price {
	padding-left: 46px;
	padding-top: 8px;
	box-sizing: border-box;
	position: relative;
}

.price-controls .min-price:after {
	content: "";
	width: 10px;
	height: 1px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: 50%;
	left: 105px;
}

.price-controls .max-price {
	padding-top: 8px;
	padding-left: 26px;
	box-sizing: border-box;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.between-filter-underline {
	width: 100%;
	height: 1px;
	background-color: #d7dcde;
	margin-top: 25px;
	margin-bottom: 25px;
}

.filters-form ul {
	margin: 0;
	padding-left: 0px;
	list-style: none;
	line-height: 35px;
	font-weight: 400;
}

.filters-form li {
	color: rgb(0, 0, 0);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 45px;
	text-transform: uppercase;
}


.filter-input:disabled + label {
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

.button-filters-results {
	margin-top: 65px;
	border: none;
	width: 140px;
	height: 38px;
	border: 1px solid #e5e5e5;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.catalog-offers .catalog-offers-title {
	display: block;
	background-color: #f7f3ec;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	padding-left: 19px;
	padding-top: 10px;
	padding-bottom: 11px;
	margin-bottom: 20px;
}

.catalog-offers-title b {
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
}

.catalog-offers-title a:nth-child(2) {
	padding-left: 135px;
	padding-right: 70px;
	color: #ee3643;;
}

.catalog-offers-title a:nth-child(3) {
	color: rgba(0, 0, 0, 0.3);
	padding-right: 65px;
}

.catalog-offers-title a:nth-child(4) {
	color: rgba(0, 0, 0, 0.3);
	padding-right: 45px;
}

.catalog-offers-title button {
	border: none;
	width: 11px;
	height: 10px;
	background-color: transparent;
}

.button-filter-up {
	background-image: url(img/icon-up-dir.png);
	background-repeat: no-repeat;
	padding-right: 20px;
	cursor: pointer;
}

.button-filter-down {
	background-image: url(img/icon-down-dir.png);
	background-repeat: no-repeat;
	cursor: pointer;
}


.catalog-offers ul {
	list-style: none;
	width: 700px;
}

.inner-catalog-list {
	width: 700px;
	margin-top: 0px;
	margin-bottom: 32px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.catalog-item {
	width: 220px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	background-color: rgb(255, 255, 255);
	transition: 0.4s;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	transition: 0.5s;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item a {
	color: rgb(0, 0, 0);
	margin: 0px;
	padding: 0px;
}

.catalog-item h3 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}

.catalog-item .flag {
	width: 60px;
	height: 59px;
	position: absolute;
	right: -1px;
	top: -1px;
	overflow: hidden;
	text-indent: -1000px;
	background-image: url(img/new_flag.png);
	background-repeat: no-repeat;
	z-index: 11;
}

.catalog-item-buttons {
	position: absolute;
	background-color: rgba(255, 255, 255, 1);
	z-index: 10;
	width: 220px;
	height: 170px;	
	display: none;
	transition: 0.3s;
}

.catalog-item-buttons .button-buy {
	display: block;
	position: relative;
	top: 44px;
	left: 41px;
	width: 135px;
	height: 38px;
	box-sizing: border-box;
	padding-left: 49px;
	padding-top: 9px;
	box-shadow: inset 0 -3px 0 #367315;
	background-color: #63a63e;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 7px;
	transition: 0.3s;
}

.catalog-item:hover .catalog-item-buttons {
	display: block;
}

.catalog-item-buttons .button-buy:hover {
box-shadow: inset 0 -3px 0 #367315;
background-color: #5fbb2d;
}

.catalog-item-buttons .button-buy:active {
	background-color: #518534;
}

.button-buy::before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	left: 12px;
	top: 9px;
	background-image: url(img/icon-basket.png);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.button-buy:hover::before,
.button-buy:active::before  {
	opacity: 1;
}

.catalog-item-buttons .button-marks {
	position: relative;
	top: 45px;
	left: 41px;
	display: block;
	width: 135px;
	height: 38px;
	padding-left: 35px;
	padding-top: 7px;	
	color: #32425c;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	border: 3px solid #63a63e;
	border-radius: 3px;
	box-sizing: border-box;
}

.catalog-item-buttons .button-marks:hover {
	border: 3px solid #32425c;
}

.catalog-item-buttons .button-marks:active {
	border: 3px solid #32425c;
	opacity: 0.3;
}

.catalog-item-name {
	color: #000000;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}


.catalog-item-price del {
	color: #999999;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
	margin-left: 30px;
	padding: 0px;
}

.catalog-item-price {
	margin-bottom: 7px;
	padding: 0;
}

.catalog-item-price p {
	width: 120px;
	height: 38px;
	background-color: rgb(238, 54, 67);
	color: rgb(255, 255, 255);
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	position: relative;
}

.btn-price span {
	margin: auto;
}

.catalog-item-price p::after {
	content: "";
	position: absolute;
	left: 120px;
	border: 19.3px solid rgb(238, 54, 67);
	border-right-width: 0px;
	border-top-color: transparent;
	border-bottom-color: transparent;
}


.pagination-list {
	margin: 0px;
	padding: 0px;
	width: 300px;
}

.pagination-list li {
	display: inline-block;
}

.pagination-list a {
	display: flex;
	width: 38px;
	height: 38px;
	border: 1px solid #e5e5e5;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.pagination-current a {
	background-color: #ee3643;
}

.pagination-list span {
	margin: auto;
}

.pagination-next a {
	width: 140px;
}

.pagination-list a:hover {
	border: 1px solid #bdc6ca;
}

.pagination-list a:active {
	border: 1px solid #ee3643;
}

.catalog-item-about {
	width: 100%;	
	background-color: rgb(244, 247, 249);
	padding-top: 65px;
	padding-bottom: 70px;

	
}

.catalog-item-about b {
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 65px;
}

.catalog-item-about p {
	width: 938px;
	font-family: "PT Sans";
	line-height: 24px;
	font-size: 13px;
	font-weight: 400;
	margin: 0;
	padding-top: 37px;
}




/* Стили для футера */


.main-footer {
	background-color: rgb(50, 66, 92);
	width: 100%;
}

.container {
	width: 940px;
	margin: 0px auto;

}


.main-footer ul {
	list-style: none;
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-between;
	min-height: 193px;
}


.footer-logo-image {
	width: 220px;
	height: 68px;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: rgb(238, 54, 67);
	display: flex;
	margin: 0px;
	padding: 0px;
}

.footer-logo-image img {
	margin: auto;
}


.footer-site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	padding-top: 40px;
	width: 550px;
}

.footer-site-navigation a {
	color: #f1f5f7;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	transition: 0.3s;
}

.footer-site-navigation a:hover {
	text-decoration: underline;
}


.footer-site-navigation a:active {
	opacity: 0.5;
}

.footer-navigation .address {
	color: #f1f5f7;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin: 0px;
	margin-top: 30px;
	padding: 0px;
	width: 330px;
}

.footer-offer-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px;
	margin-top: 30px;
	padding: 0px;
	width: 530px;
}

.footer-offer-navigation a {
	color: #ffd180;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	transition: 0.3s;
}

.footer-offer-navigation a:hover {
	text-decoration: underline;
}


.footer-offer-navigation a:active {
	opacity: 0.5;
}

.footer-wrapper {
	width: 100%;
	background-color: rgb(41, 52, 73);
}

.footer-about-us {
	display: flex;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.footer-about-us .copyright {
	width: 295px;
	margin: 0px;
	padding: 0px;
	padding-top: 39px;
	padding-bottom: 35px;
}

.footer-about-us .social-media {
	width: 130px;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social.vkontakte {
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 50%;
	background-image: url(img/vk-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: 0.3s;
}

.social.facebook {
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 50%;
	background-image: url(img/fb-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: 0.3s;
}

.social.instagram {
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 50%;
	background-image: url(img/insta-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: 0.3s;
}

.social:hover,
.social:active {
	background-color: #ee3643;
}

.footer-feedback {
	width: 290px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
	padding-left: 25px;
}

.feedback-email,
.site-founders {
	color: #ffd180;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	transition: 0.3s;
}

.feedback-email:hover,
.site-founders:hover {
	text-decoration: underline;
}


.feedback-email:active,
.site-founders:active {
	color: #ee3643;
} 








.modal {
	display: none;
}

.delivery-types h2 {
	display: none;	
}

.visually-hidden {
	display: none;
}


































































